@*
	경영지원부 >> 계정 생성
*@
@{
}

<form method="post" action="/Factory/Create">

<div style="width:760px;height:900px; margin-right:auto; margin-left:auto; padding-top:160px;">
<h2 style="text-align:center">계정 생성</h2>
<br />
	<p>사원명 :</p>
	<input type="text" class="form-control" name="p_name" /> <br />
	<p>부서명 :</p>
	<select name="p_department" class="form-control">
		<option value="001">경영지원팀</option>
		<option value="002">구매팀</option>
		<option value="003">생산팀</option>
	</select>
	<br />
	<p>직급 :</p>
	<select name="p_position" class="form-control">
			<option value="인턴">인턴</option>
			<option value="대리">대리</option>
			<option value="과장">과장</option>
			<option value="부장">부장</option>
			<option value="차장">차장</option>
			<option value="사장">사장</option>
	</select>
	<p>아이디 :</p>
	<input type="text" class="form-control" name="p_id" />
	<br />
	<p>비밀번호 :</p>
	<input type="password" class="form-control" name="p_pw" />
<br />
		<div style="margin-right:auto; margin-left:auto;">
	 <button class="btn-primary btn-block" style="height:50px;" >등록하기</button>
</div>
</div>

</form>
