@*
	경영지원부 >> 계정 생성
*@
@{
}
@*
*@
<!DOCTYPE html>
<html>

<head>
    <title>Registration Form</title>
    <!-- Add your CSS and JS files here (e.g., Bootstrap, jQuery) -->
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-block" id="basicform">
                    <h3 class="section-title">회원가입</h3>
                    <p>업무시 사용할 아이디를 등록합니다.</p>
                </div>
                <div class="card">
                    <h5 class="card-header">Register</h5>
                    <div class="card-body">
                        <form method="post" action="/Factory/Create" id="create">
                            <div class="form-group">
                                <label for="username" class="col-form-label">사원 이름</label>
                                <input type="text" class="form-control" name="p_id" placeholder="ID" id="username" />
                                <div id="msg-name">
                                    @*안내메시지*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dept">부서명</label>
                                <select name="p_department" class="form-control" id="dept">
                                    <option value="none">부서를 선택하세요</option>
                                    <option value="001">경영지원팀</option>
                                    <option value="002">구매팀</option>
                                    <option value="003">생산팀</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="position" class="col-form-label">직급</label>
                                <select name="p_position" class="form-control" id="position">
                                    <option value="none">직급을 선택하세요</option>
                                    <option value="인턴">인턴</option>
                                    <option value="사원">사원</option>
                                    <option value="대리">대리</option>
                                    <option value="과장">과장</option>
                                    <option value="부장">부장</option>
                                    <option value="사장">사장</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="userid" class="col-form-label">아이디</label>
                                <input type="text" class="form-control" name="p_id" placeholder="ID" id="userid" />
                                <div id="msg-id">
                                    @*안내메시지*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label" for="pw">비밀번호</label>
                                <input type="password" class="form-control" name="p_pw" placeholder="Password" id="pw" />
                                <div id="msg-pw">
                                    @*안내메시지*@
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="pw2" class="col-form-label">비밀번호 확인</label>
                                <input type="password" class="form-control" id="pw2" />
                                <div id="msg-pw2">
                                    @*안내메시지*@
                                </div>
                            </div>
                            <div style="margin-right:auto; margin-left:auto;">
                                <button type="button" id="btn_create" class="btn-primary btn-block" style="height:50px;">등록하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add your JS files here (e.g., Bootstrap, jQuery) -->

</body>

</html>

	<script src="~/js/script.js"></script>
	<script src="~/js/input_check.js"></script>
