@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="/Factory/DeleteEmp" id="delete">
    <label for="code" style="display: flex; align-items: center;">사원코드 :</label>
    <input type="text" id="code" name="p_code" class="form-control" placeholder="사원ID 입력" style="margin-bottom: 0;" />
    <br />
    
    <button  type="button" class="btn btn-danger" id="btn_delete">삭제하기</button>
</form>
<script src="~/js/script.js"></script>