
@*
    로그인
*@
@{
    Layout = null;
}
<form method="post" action="/Factory/Login">
    <div>
    <label for="username">아이디</label>
    <input type="text" class="form-control" id="username" name="userid" />
    </div>
    <div>
        <label for="pw">비밀번호</label>
    <input type="password" class="form-control" id="pw" name="userpw" />
    </div>
    <br />
    <button>로그인</button>
</form>