@*
  사원정보 리셋
*@
@{
}
<form method="post" action="/Factory/Reset" name="reset" id="reset">
    <label for="code" style="display: flex; align-items: center;">사원ID :</label>
    <input type="text" id="code" name="p_code" class="form-control" placeholder="사원ID 입력" style="margin-bottom: 0;" />
    <button type="button" class="btn btn-outline-danger" id="btn_reset">초기화</button>
</form>
<script src="~/js/script.js"></script>

