@model List<Web_Final.Models.Process.ItemCount>
@*
   차트 : 생산
*@
@{
}

<div class="container-fluid">
    <h1 class="display-4">완제품 생산 현황</h1>
    <table class="table table-hover">
        <thead class="table-success">
            <tr>
                <th>제품명</th>
                <th>제품 코드</th>
                <th>총 생산수량</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Code</td>
                    <td>@item.Count</td>
                </tr>
                }
                    
        </tbody>
    </table>
    @*chart가 그려질 canvas*@
    <div>
        <canvas id="chart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</div>

<script src="~/js/chart.js"></script>



