@*
    경영지원부 >> 사원수정
*@
@{
}
<form method="post" action="/Factory/UpdateEmp" name="update" id="update">
        <label for="code" style="display: flex; align-items: center;">사원ID :</label>
            <input type="text" id="code" name="p_code" class="form-control" placeholder="사원ID 입력" style="margin-bottom: 0;" />
    <br />
    <div class="form-row">
        <label for="dept">부서명 :</label>
            <select name="p_department" class="form-control" id="dept">
                <option value="none">부서를 선택하세요</option>
                <option value="001">경영지원팀</option>
                <option value="002">구매팀</option>
                <option value="003">생산팀</option>
            </select>
    </div>
    <br />
    <button class="btn btn-primary" id="edit" type="button">수정하기</button>
</form>
<script src="~/js/script.js"></script>