
@*
	사원이 비밀번호 수정
*@
@{
}
<h2>비밀번호 수정</h2>
<form>
	<div>
		<p>비밀번호 :</p>
		<input type="password" class="form-control" name="pw" />
		<p>비밀번호 확인 :</p>
		<input type="password" class="form-control" />
	</div>

</form>