@*부서코드 001:경영지원, 002:구매팀, 003:생산팀*@
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    //세션에서 가져올 값 : 이름,부서코드(departmentCode),권한,uid
    string? name = HttpContextAccessor.HttpContext.Session.GetString("username"); //이름
    string? departmentCode = HttpContextAccessor.HttpContext.Session.GetString("department"); //부서
    int? authority = HttpContextAccessor.HttpContext.Session.GetInt32("authority"); // 권한
    int? uid = HttpContextAccessor.HttpContext.Session.GetInt32("userid"); // uid (회원정보 수정)
}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="~/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    @*제이쿼리*@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>안녕하세요</title>
</head>

<body>
    <!-- 상단바 -->
    <div class="dashboard-main-wrapper">

        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="index"><img src="~/assets/images/logo3.png" style="width:190px;height:67px;" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <!-- 로그인 했을 때 사용자 정보 -->
               
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/assets/images/User.png" alt="" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">안녕하세요! @(name)님</h5>
                                </div>

                                <a class="dropdown-item" href="UpdatePw"><i class="fas fa-cog mr-2"></i>비밀번호 설정</a>
                                <a class="dropdown-item" href="Logout"><i class="fas fa-power-off mr-2"></i>로그아웃</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    
        <!-- 왼쪽 메뉴 -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- 반응형: 사이즈 작아지면 나오는 메뉴에 대한 문구 -->
                    <a class="d-xl-none d-lg-none" href="#">Menu</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <!-- 대쉬보드 -->
                                @*직급별 다른메뉴*@
                                @if (departmentCode == "001") //경영지원
                                {
                                    <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>경영지원팀<span class="badge badge-success">6</span></a>
                                    <div id="submenu-1" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            @if(authority == 0)
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link" href="Create">사원ID생성</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="UpdateEmp">부서이동</a>
                                                </li>                                              
                                                <li class="nav-item">
                                                    <a class="nav-link" href="Reset">비밀번호 초기화</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="EmployeesList">사원정보 조회</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="DeleteEmp">사원ID 삭제</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="nav-item">
                                                    <a class="nav-link" href="EmployeesList">사원정보 조회</a>
                                                </li>
                                            }

                                        </ul>
                                    </div>
                                }
                                @if (departmentCode == "002") //구매팀
                                {
                                    <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>구매팀<span class="badge badge-success">6</span></a>
                                    <div id="submenu-1" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="StockList">전체 재고조회</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="InBoundList">입고내역</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="OutBoundList">출고내역</a>
                                            </li>
                                        </ul>
                                    </div>
                                }
                                @if (departmentCode == "003") //생산팀
                                {
                                    <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>생산팀<span class="badge badge-success">6</span></a>
                                    <div id="submenu-1" class="collapse submenu" style="">
                                        <ul class="nav flex-column">
                                            <li class="nav-item">
                                                <a class="nav-link" href="StockList">전체 재고조회</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="OutBoundList2">출고내역</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="Total_Chart">상품별 생산현황</a>
                                            </li>
                                        </ul>
                                    </div>
                                }

                               
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                @RenderBody()

            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <script src="~/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <!-- bootstap bundle js -->
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <!-- slimscroll js -->
    <script src="~/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <!-- main js -->
    <script src="~/assets/libs/js/main-js.js"></script>
    <!-- chart chartist js -->
    <script src="~/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <!-- sparkline js -->
    <script src="~/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <!-- morris js -->
    <script src="~/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="~/assets/vendor/charts/morris-bundle/morris.js"></script>
    <!-- chart c3 js -->
    <script src="~/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="~/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="~/assets/vendor/charts/c3charts/C3chartjs.js"></script>

    <!-- Optional JavaScript -->
    <script src="~/assets/libs/js/main-js.js"></script>
    <script src="~/assets/vendor/datatables/js/db_table.js"></script>
    <script src="~/assets/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/vendor/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/vendor/datatables/js/data-table.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>

</body>
</html>


