
#code {
    max-width: 145px;
}

#dept {
    max-width: 400px;
}

#delete {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#reset {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#update {
    display: flex;
    flex-direction: column;
    align-items: center;
}



